
.arrow__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow__cover {
    width: 100%;
    object-fit: cover;
    min-height: 220px;
}

.arrow__menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.8);
    transition: 0.5s ease;
    min-height: 15%;
    transform: translateY(0);
    transition: 
        min-height 0.6s ease, 
        box-shadow 0.6s ease,
        transform 0.6s ease;
}

.arrow__menu.open {
    min-height: 100%;
    box-shadow: none;
}

.arrow__icon {
    color: rgba(218, 184, 249, 0.9);
    margin-bottom: -12px;
}
.arrow__icon:hover {
    cursor: pointer;
}

.arrow__title {
    padding: 4px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.arrow__info {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
    color: white;
    font-size: 10px;
    font-weight: 500;
    
}

.arrow__check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    background-color: rgba(218, 184, 249, 0.9);
    border-radius: 40px;
    width: 80%;
}

.arrow__check p {
    font-size: 12px;
    color: black;
}

.arrowinfo__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
    align-self: flex-start;
}

.arrowinfo__content p {
    padding: 2px 0;
    font-size: 10px;
}

.raiting {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 0;
    height: 40px;
    margin: -15px;
    color: rgba(218, 184, 249, 0.9);
}
