*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.reg {  
  min-height: 75vh;
  max-height: 100vh;
  align-items: center;
  justify-content: center;
  translate:-100px 200px;
  display:flex;
  text-align: center;
}

.reg_text{
  font-size:2em;
  color:rgba(6, 7, 108, 0.8);
  text-align: center;
  filter: drop-shadow(0 0 5px #06076ccc) drop-shadow(0 0 15px #06076ccc) hue-rotate(360deg);
}

.reg_text span{
  position:absolute;
  text-transform: uppercase;
  transform-origin: 0 200px;
}

.reg_circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  text-decoration: dotted;
  animation: moveAround 8s linear infinite;
}

@keyframes moveAround {
  0% {
    transform: translate(0, -50%) rotate(0deg);
  }
  100% {
    transform: translate(0, -50%) rotate(360deg);
  }
}

.reg p {
  position: relative;
  translate:305px -205px;
  font-size: 300px;
  color:#06076ccc;
  animation:none;

}
