
.reset__password__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.reset__password__form {
    padding: 40px;
    border: 2px solid #4b0082;
    box-shadow: 0 2px 5px #4b0085;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    min-height: 300px;
    align-items: center;
    background-color: whitesmoke;
}

.reset__password__title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 800;
    color: #4b0082;
}

.form__group {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form__group label {
    margin-bottom: 1px;
    margin-left: 20px;
    font-weight: 700;
}

.form__group input[type='email'] {
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid #4b0082;
    box-shadow: 0 2px 5px #4b0085;
    color: #4b0082;
    font-weight: 600;
}

.form__group input[type='email']:focus {
    outline: none;
    box-shadow: 0 6px 5px #4b0085;
}

.reset__password__button {
    padding: 10px;
    border: 2px solid #4b0082;
    box-shadow: 0 4px 5px #4b0085;
    color:  #4b0082;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.5s ease, background-color 0.4s ease, box-shadow 0.5s ease, border 0.3s ease;
}

.reset__password__button:hover {
    color: rgba(163, 225, 45, 1);
    border: 0 2px 0 0 rgba(163, 225, 45, 1);
    background-color: #4b0082;
    box-shadow: 0 6px 5px #4b0085;
    border-bottom: 4px solid rgba(163, 225, 45, 1);
}

.info__text {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.success__message {
    color: #28a745;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
    text-align: center;
    width: 70%;
}

.error__message {
    color: #be0000;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

@media (max-width: 1024px) {
    .reset__password__form {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .reset__password__form {
        width: 95%;
    }
    .form__group {
        width: 90%;
    }
}