.r_e{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
  .reg_err {  
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
  }
  
  .reg_err_text{
    font-size:2em;
    color:#bb0f0fcc;
    text-align: center;
    filter: drop-shadow(0 0 5px #bb0f0fcc) drop-shadow(0 0 15px #bb0f0fcc) hue-rotate(360deg);
  }
  
  .reg_err_text span{
    position:absolute;
    text-transform: uppercase;
    transform-origin: 0 200px;
  }
  
  .reg_err_circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    translate: 0 -350px;
    position: relative;
    animation: moveAround 15s linear infinite;
  }
  
  @keyframes moveAround {
    0% {
      transform: translate(0, -50%) rotate(0deg);
    }
    100% {
      transform: translate(0, -50%) rotate(360deg);
    }
  }
  
  .reg_err p {
    translate: 0 -85px;
    position: relative;
    font-size: 420px;
    color:#bb0f0fcc;
    filter: drop-shadow(0 0 5px #bb0f0fcc) drop-shadow(0 0 15px #bb0f0fcc) hue-rotate(360deg);
  }
  