
.settings__menu {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #4b0082;
    box-shadow: 0 2px 5px #4b0085;
    background-color: whitesmoke;
}

.settings__title {
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    margin: 14px 0;
    color: #4b0082;
    text-decoration: underline;
}

.option__container {
    width: 80%;
    padding-left: 20px;
    margin-bottom: 20px;
}

.option__title {
    font-size: 20px;
    font-weight: 600;
    color: #4b0082;
    margin: 0;
    padding: 10px 0;
}

.background {
    width: 80%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

.form__change__password {
    width: 60%;
    margin-bottom: 30px;
}

.form__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.form__group label {
    margin-bottom: 5px;
    margin-left: 20px;
    font-weight: 700;
    color: rgba(207, 0, 15, 1);
}

.change__password__container {
    position: relative;
    width: 100%;
    border: 4px solid rgba(207, 0, 15, 1);
    box-shadow: 0 0 18px rgba(207, 0, 15, 1);
    background-color: rgba(207, 0, 15, 0.4);
    min-height: 200px;
}

.dangerous__zone__text {
    font-weight: bold;
    font-size: 30px;
    color: rgba(207, 0, 15, 1);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
}

.button__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.change__password__button {
    font-weight: bold;
    color: white;
    background-color: rgba(207, 0, 15, 1);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(207, 0, 0, 1);
    border-radius: 15px;
    transition: box-shadow 0.4s ease, color 0.4s ease;
}

.change__password__button:hover {
    box-shadow: 0 0 25px white;
}

.password__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password__wrapper .password__inputs {
    width: 100%;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid rgba(255, 0, 0, 1);
    box-shadow: 0 2px 5px rgba(255, 0, 0, 1);
    color: rgba(207, 0, 15, 1);
    font-weight: 600;
}

.password__wrapper .password__inputs:focus {
    outline: none;
    box-shadow: 0 6px 5px rgba(207, 0, 15, 1);
}

.password__toggle {
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% - 12px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 0;
}

.icon__style {
    color: rgba(207, 0, 15, 1);
}

.button__password__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
}

.save__button {
    width: 50%;
    padding: 10px 20px;
    background-color: rgba(207, 0, 15, 1);
    color: white;
    border: none;
    border-left: 8px solid rgba(255, 255, 255, 0.8);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: box-shadow 0.5s ease;
}

.save__button:hover {
    box-shadow: 0 0 20px white;
}

.abort__button {
    width: 50%;
    padding: 10px 20px;
    background-color: rgba(207, 0, 15, 1);
    color: white;
    border: none;
    border-right: 8px solid rgba(255, 255, 255, 0.8);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: box-shadow 0.5s ease;
}

.abort__button:hover {
    box-shadow: 0 0 20px white;
}

.error {
    color: rgba(207, 0, 15, 1);
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}

@media (max-width: 1024px) {
    .settings__menu {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .settings__menu {
        width: 95%;
    }
}
