.r_s{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

  .reg_suc{ 
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
  }
  
  .reg_suc_text{
    font-size:2em;
    text-align: center;
    color:rgba(6, 7, 108, 0.8);
    filter: drop-shadow(0 0 5px #06076ccc) drop-shadow(0 0 15px #06076ccc) hue-rotate(360deg);
  }
  
  .reg_suc_text span{
    position:absolute;
    text-transform: uppercase;
    transform-origin: 0 200px;
  }
  
  .reg_suc_circle {
    user-select: none;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    translate: 0 -150px;
    position: relative;
    animation: moveAround 15s linear infinite;
  }
  
  @keyframes moveAround {
    0% {
      transform: translate(0, -50%) rotate(0deg);
    }
    100% {
      transform: translate(0, -50%) rotate(360deg);
    }
  }
  
  .reg_suc p {
    user-select: none;
    translate: -10px 70px;
    position: relative;
    font-size: 300px;
    color:#06076ccc;
    filter: drop-shadow(0 0 5px #06076ccc) drop-shadow(0 0 15px #06076ccc) hue-rotate(360deg);
  }
  