
.mess__success__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.mess__success__content {
    border: solid 4px rgba(30, 219, 17, 0.83);
    border-radius: 15px;
    background-color: rgba(30, 219, 17, 0.2);
    width: 80%;
    padding: 12px;
}

.mess__success__title {
    text-align: center;
    margin-top: 5px;
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.mess__success__body {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
}

.link {
    text-decoration: underline;
    font-weight: bold;
    color: rgba(85, 0, 71);
}
