
.content_navbar {
    position: relative;
    background-color: rgba(6, 7, 108, 0.8);
    border-radius: 8px;
    margin-bottom: 50px;
}

.nav__links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    color: white;
    font-weight: 600;
    list-style-type: none;
    padding: 0;
}

.nav__links ul li {
    margin: 0 10px;
}
.icon {
    transition: 0.3s ease;
}

.icon:hover {
    color: rgba(218, 184, 249, 0.9);
}

.additional__menu {
    position: absolute;
    left: 20%;
    width: 60%;
    top: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(6, 7, 108, 0.8);
    padding: 6px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.list {
    display: flex;
    color: white;
}

.list li {
    margin: 0 10px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
}
