
.recently__games_comp {
    display: flex;
}

.column__1 {
    flex: 75%;
}

.column__2 {
    flex: 25%;
}

.recently__games__title {
    background-color: rgba(6, 7, 108, 0.8);
    color: white;
}

.recently__games__title h2 {
    margin-left: 15px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

.recently__games__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.recently__games__box {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 20%;
    box-sizing: border-box;
    border-top: none;
    border-left: 2px solid rgba(6, 7, 108, 0.3);
    border-right: 2px solid rgba(6, 7, 108, 0.3);
    border-bottom: 2px solid rgba(6, 7, 108, 0.3);
    min-height: 200px;
}

.game__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
}

.recently__news__container {
    height: 100%;
    width: 100%;
}

@media (max-width: 1224px) {
    .column__1 {
        flex: 60%;
    }
    .column__2 {
        flex: 40%;
    }
    .recently__games__box {
      width: 33.33%;
    }
  }

@media (max-width: 900px) {
    .column__1 {
        flex: 60%;
    }
    .column__2 {
        flex: 40%;
    }
    .recently__games__box {
      width: 50%;
    }
  }

@media (max-width: 600px) {
    .column__2 {
        display: none;
    }
    .recently__games__box {
      width: 33.33%;
    }
  }

@media (max-width: 1224px) {
    .recently__games__box:nth-last-child(-n+2) {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .recently__games__box:nth-last-child(-n+1) {
        width: 100%;
    }
}

@media (max-width: 600px) and (min-width: 400px) {
    .recently__games__box:nth-last-child(-n+2) {
    width: 50%;
    }
}
