@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: whitesmoke;
}

.containers {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* 
Colors for site

dark blue: rgba(6, 7, 108, 0.8)
something like red: rgba(255, 0, 44, 0.8)
orange: rgba(255, 106, 0, 0.8)
information color: rgba(0, 123, 255, 0.8)

*/
